.header{
    position: relative;
    height: 90vh;
    width: 100%;
    }
.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 20px 170px;
}

.communication{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item1 , .item2 , .item3{
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.icofontEmail , .icofontMap ,.icofontUiCall{
    width: 2rem;
}

.itemRightText{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: white;
}

.itemRightText :nth-child(1){
    font-weight: bold;
    font-size: 13px;
}

.itemRightText :nth-child(2){
    color: #b2b2b2;
    font-size: 13px;
}

.getQuote a{
    text-decoration: none;
    background:var(--orange);
    color: #252525;
    padding: 10px 20px;
    display: inline-block;
    transition:all 1s;
}

.getQuote a:hover{
    filter: brightness(80%);
    color: white;
}

/*------------- Modal Box -------*/
.modalHeader{
    display: flex;
    column-gap: 15px;
}

.modalHeader img{
    width: 100px;
}

.modalHeader p{
    font-size: 10px;
    line-height: 16px;
}
/*---------------- NAVBAR --------------*/
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--black-2);
    padding: 20px 100px;
    margin:0 12px;
}

.logo img{
    width: 150px;
    margin-top: -30px;
}

.navCollapseBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.navCollapse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0 auto;
}

.navLeft , .navRight{
    display: flex;
    list-style: none;
    column-gap: 40px;
    padding: 0;
    margin: 0;
}

.navItem a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navItem a:hover{
    color: var(--orange);
}

.navItem{
    position: relative;
}

.subMenu{
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color:var(--black-2);
    list-style: none;
    border-radius: 5px;
    text-align: left;
    padding:10px 30px;
    border: 1px solid #a4a4a4;
    width: max-content;
    z-index: 2;
}

.subItem{
    margin-bottom: 5px;
}

.navItem:hover>.subMenu {
    display:block;
}

.caretDownIcon{
    width: 15px;
    margin-left: 4px;
}

.navRight img{
    width: 1.5rem;
}

.navRight a:hover{
    cursor: pointer;
    color: var(--orange);
}

/*--------------------- main header---------------*/

.headerMain{
    background-position:bottom;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    row-gap: 2rem;
    padding:50px;
}

.headerMain img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    filter: brightness(50%);
    margin-top: -200px;
}

.headerMainTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    text-align: center;
    row-gap: 3rem;
}

.headerMainTop :nth-child(1) span{
    color: var(--orange);
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 7rem;
}

.headerMainTop :nth-child(1){
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.headerMainTop :nth-child(2){
    color: white;
    letter-spacing: 8px;
    font-size: 14px;
}

.headerMainButton{
   display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.ourStory{
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    transition: all 500ms;
}
.ourStory:hover{
    color: black;
    background-color: white;
}

.contact{
    padding: 8px 20px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: all 500ms;
    background-color: var(--orange);
    border:2px solid var(--orange);
}
.contact:hover{
    color:var(--orange);
    background-color:inherit;
}

@media only screen and (max-width: 576px) {

    .headerTop{
        padding: 10px 20px;
        row-gap: 10px;
        align-items: flex-start;
    }
    .communication{
        align-items: flex-start;
    }

    .item1 , .item2 {
        align-items: flex-start;
    }

    .icofontEmail , .icofontMap{
        width: 15px;
    }

    .itemRightText{
        font-size: 10px;
    }

    .itemRightText :nth-child(1) ,
    .itemRightText :nth-child(2){
        font-size: 8px;
    }
    .item3 {
        display: none;
    }

    .getQuote a{
        padding: 5px 30px;
        font-size: 10px;
        border-radius: 5px;
    }

    .modalBox{
        width: 70%;
        height: 80vh;
        margin-left: 15%;
    }


    .modalHeader{
        padding: 10px 20px;
    }
    .modalHeader img{
       display: none;
    }

    .modalForm{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 10px;
    }
    .inputForm{
        padding: 5px;
        font-size: 10px;
    }

    .btnModal{
        padding: 5px 10px;
        font-size: 12px;
    }

    /*--------- Navbar --------*/

    .navbar{
        padding: 10px;
        margin:12px;
    }

    .logo img{
        width: 120px;
    }

    .navCollapseBox{
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-around;
        align-items: center;
        column-gap: 10px;
    }

    .hamburgerMenu{
        background-color: white;
        padding: 5px;
        margin: 10px 0;
    }

    .navCollapse{
        z-index: 999;
        position: absolute;
        width: 90%;
        top: 90px;
        right: 5%;
        padding: 20px;
        background-color: var(--black-1);
        border: 3px solid white;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
    }

    .navLeft{
        display: flex;
        flex-direction: column;
    }

    .navLeft a {
        font-size: 10px;
    }

    .subMenu{
        display: none;
    }

    .navItem:hover>.subMenu {
        display:block;
    }


    .navRight ul{
        column-gap: 10px;
    }
    .navRight img{
        width: 18px;
    }

/*----------- Main Header ------*/

    .headerMain{
        row-gap: 1rem;
        padding: 20px;
    }
    .headerMain img{
        object-fit: cover;
        object-position: center;
    }

    .headerMainTop{
        row-gap: 14px;
    }

    .headerMainTop :nth-child(1)
    ,.headerMainTop :nth-child(1) span{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .headerMainTop :nth-child(2){
        letter-spacing: 4px;
        font-size: 10px;
    }

    .headerMainButton{
        column-gap: 10px;
    }

    .ourStory , .contact{
        padding: 5px 10px;
        font-size: 10px;
    }
}