.headerPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerTop{
    padding: 20px;
    width: 90%;
}

.logo img{
    width: 150px;
}

.communication{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item1 , .item2 , .item3{
    display: flex;
    align-items: flex-end;
    column-gap: 5px;
}

.icofontEmail , .icofontMap ,.icofontUiCall{
    width: 2rem;
}

.itemRightText{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.itemRightText :nth-child(1){
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.itemRightText :nth-child(2){
    color: var(--gray-2);
    font-size: 13px;
}

.getQuote a{
    text-decoration: none;
    background:var(--orange);
    color: white;
    padding: 10px 20px;
    display: inline-block;
    transition:all 1s;
}

.getQuote a:hover{
    filter: brightness(80%);
    color: white;
}

/*------------- Modal Box -------*/

.modalHeader{
    display: flex;
    column-gap: 15px;
}

.modalHeader img{
    width: 100px;
}

.modalHeader p{
    font-size: 10px;
    line-height: 16px;
}

/*----------------------- NAVBAR ------------------*/
.navbar{
    width: 90%;
    height: fit-content;
    background-color: var(--black-2);
    outline: 5px solid white;
    padding:10px 30px 0 15px;
}

.logo2{
    display: none;
}

.hamburgerMenu{
    display: none;
}

.navLeftMenu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLeftMenu , .navRight ul{
    display: flex;
    list-style: none;
    column-gap: 20px;

}

.navItem{
    position: relative;
}

.navItem a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navItem a:hover{
    color: var(--orange);
}

.subMenu {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    background-color:var(--black-2);
    list-style: none;
    border-radius: 5px;
    text-align: left;
    padding:10px 30px;
    border: 1px solid #a4a4a4;
    width: max-content;
    z-index: 2;
}

.subItem{
    margin-bottom: 5px;
}

.navItem:hover>.subMenu {
    display:block;
}

.caretDownIcon{
    width: 15px;
    margin-left: 4px;
}

.navRight a{
    text-decoration: none;
    color: var(--gray);
}

.navRight img{
    width: 1rem;
}

.navRight a:hover{
    cursor: pointer;
    color: var(--orange);
}

/*--------------------- main header---------------*/

.headerMain{
    height:auto;
    width: 100%;
    background-color: var(--black-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    padding:100px 60px;
}

.headerLeft :nth-child(1){
    color: white;
    font-size: 3rem;
}
.headerLeft :nth-child(2){
    color: var(--orange);
    font-size: 3rem;
}

.headerRight{
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: end;
}

.headerRight img{
    width: 20px;
}

.headerRight :nth-child(2){
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.headerRight span , .rightLink{
    color: var(--gray-3);
    font-size: 15px;
}
.rightLink{
    text-decoration: none;
}

/*------ Media -----*/

@media only screen and (max-width: 576px) {
    /*----- header Top -----*/
    .header{
        padding: 20px 10px;
        row-gap: 10px;
        align-items: flex-start;
    }

    .logo{
        display: none;
    }

    .headerTop{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 8px;
    }

    .communication{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .item1{
        display: none;
    }
    .item2 , .item3{
        align-items: flex-start;
    }

    .icofontEmail ,.icofontUiCall{
        width: 10px;
    }

    .itemRightText :nth-child(1) ,
    .itemRightText :nth-child(2){
        font-size: 8px;
    }

    .getQuote a{
        padding: 5px 10px;
        font-size: 10px;
    }

    .modalBox{
        width: 90%;
        left: 5%;
    }

    .modalHeader img{
       display: none;
    }

    .logo2{
        display: block;
    }

    .logo2 img{
        width: 100px;
    }

/*--------- Navbar --------*/

    .navbar{
        padding: 10px 15px;
    }

    .hamburgerMenu{
        display: block;
        width:fit-content;
        background-color: #282828;
    }
    .hamburgerMenu img{
        width: 30px;
    }

    .navCollapse{
        display: none;
    }

    .navLeftMenu{
        display: none;
    }

    .navCollapse{
        background-color: var(--black-2);
        border:3px solid white;
        width: 80%;
        left: 10%;
        height: fit-content;
        padding: 20px 15px 40px;
        top: 160px;
    }

    .CollapseBox{
        display:flex ;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: var(--black-2);
    }

    .subMenu{
        display: none;
    }

    .navItem:hover>.subMenu {
        display:block;
    }



/*---------- Main Header --------*/

    .headerLeft :nth-child(1) ,
    .headerLeft :nth-child(2){
        font-size: 1.5rem;
    }

    .headerRight{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
        align-items: end;
    }

    .headerRight :nth-child(2) ,
    .headerRight span , .rightLink{
        font-size: 10px;
    }
}

