.slider{
    width: 100%;
    height: 50vh;
    margin-top: 160px;
    position: relative;
}

.slider video{
    position: absolute;
    width: inherit;
    height: inherit;
}


.slider a {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    color: white;
    border: 2px solid white;
    font-size: 1.2rem;
    padding: 15px 50px;
    position: absolute;
    right: 70px;
    bottom: 30px;
}

.slider a:hover{
    background-color: var(--blue);
}
/* ----------------- Main ------------------------- */

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location , .infrastructure , .chemiepark , .contact{
    width: 100%;
    margin-top: 50px;
    background-color: white;
    padding: 30px;
}

.text-header{
    color: var(--gray-header);
    font-size:2rem;
    margin:0 0 30px 80px;
}

.Box-bottom{
    display: flex;
    justify-content:space-around;
    column-gap:2.5%;
    width: 100%;
    height: max-content;
}

.Box-left{
    width:47%;
}

.Box-right{
    width: 47%;
}



/*-------------- Caption--------------*/


.caption{
    width: 56%;
    height: fit-content;
    text-align: center;
    margin: 100px 0 50px 0;
}

.caption h1{
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 30px;
}

.caption p{
    font-size: 17px;
    line-height: 25px;
    color: var(--black-mate);
}