
.navbarContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 999;
    height: fit-content;
    padding: 10px 30px;
    background-color: var(--gray);
    box-shadow: 0 10px 18px -2px rgba(133, 133, 133, 0.52);
}

.navbarMain{
    text-decoration: none;
    position: relative;
}

.itemsCounter{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--orange);
    font-size: 12px;
    padding: 1px 6px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
}