
.navbarContainer{
    width: 5%;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarContainer span{
    font-size: 18px;
    font-weight: bold;
}