.container{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: auto;
}

.backgroundImage{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(10%);
}

.textTop{
    text-align: center;
    line-height: 70px;
    margin-top: 80px;
}

.textTop h2{
    color: var(--gray-3);
    font-size: 15px;
    letter-spacing: 6px;
}

.textTop p{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    padding: 50px 100px;
}

.Image img{
    width: 60px;
}

.Description :nth-child(1){
    color: var(--gray-2);
    font-size:1.5rem;
    font-weight: bold;
 }

.Description :nth-child(2){
    color: white;
    font-size:1.5rem;
    font-weight: bold;
}

/*----------- media max-width: 576px -----*/
@media only screen and (max-width: 400px) {

    .textTop{
        line-height: 80px;
    }

    .textTop h2{
        font-size: 12px;
        letter-spacing: 5px;
    }

    .textTop p{
        font-size: 1.7rem;
    }

    .bottom{
        row-gap: 30px;
        padding: 30px 50px;
    }

    .Image img{
        width: 30px;
    }

    .Description :nth-child(1){
        font-size:1rem;
    }

    .Description :nth-child(2){
        font-size:1rem;
    }
}
