.container{
    background-color: var(--orange);
    padding:100px 65px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 40px;
}

.left h4{
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: normal;
}
.left p{
    font-size: 2.5rem;
    font-weight: bold;
}


.userContainer{
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.userImage {
    width: 80px;
    margin-top: -80px;
}

.userDescription{
    font-size: 15px;
    color: var(--gray-3);
    line-height: 20px;
}

.userName{
    font-size: 20px;
}

@media only screen and (max-width: 576px){
    .container{
        padding:50px 30px;
    }

    .userContainer{
          width: 70%;
      }

}