.container{
    background-color: var(--background-white-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 0 50px;
}

.topSection{
    text-align: center;
    line-height: 40px;
}

.topSection h4{
    font-size: 13px;
    color: var(--gray-4);
    letter-spacing: 5px;
}

.topSection p{
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

/*-------bottomSection------*/
.bottomSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.bottomLeft img{
    margin-top: -50px;
}

.bottomRightForm{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: max-content;
}


.bottomRightForm input ,.bottomRightForm select , .bottomRightForm button{
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}

.submitBtn{
    background-color: black;
    color: white;
    display: inline-block;
}

@media only screen and (max-width: 576px) {

    .container{
        padding: 50px 30px 30px ;
        position: relative;
        background: none;
    }

    .bottomLeft img{
        position: absolute;
        opacity: 10%;
        margin-top: 20px;
        height: 100%;
        z-index: -1;
    }

    .bottomRightForm{
        row-gap: 20px;
    }

    .bottomRightForm input ,.bottomRightForm select {
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
        background: none ;
        border: 1px solid var(--gray);
    }

    .bottomRightForm button{
        padding: 10px;
        font-size: 12px;
        border-radius: 5px;
    }

}


