.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 30px;
}

.productDetail{
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.productHandler{
    width: 25%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    border-left: 2px solid gray;
    height: auto;
}

.productHandler>span{
    font-size: 14px;
}

.productResult{
    font-weight: bold;
    font-size: 16px;
}

.productHandlerBtn{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.checkout{
    padding: 8px 25px;
    font-size: 14px;
    color: white;
    background-color:var(--green);
    border: 2px solid var(--green) ;
    transition: all 800ms;
    border-radius: 3px;
}

.checkout:hover{
    background-color:white;
    color: var(--green);
}

.clear{
    padding: 8px 25px;
    font-size: 14px;
    color: white;
    background-color: #d90707;
    border: 2px solid #d90707;
    transition: all 800ms;
    border-radius: 3px;
}

.clear:hover{
    color:#d90707;
    background-color:white;
}

.backToShop h4 {
    margin: 30px 0 20px;
    font-size: 18px;
}

.buyMore h4 {
    margin: 30px 0 20px;
    font-size: 18px;
    color: #8FBC32;
}

.backToShop a , .buyMore a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 3px;
    transition: all 800ms;
    border: 2px solid black;
}

.backToShop a:hover , .buyMore a:hover {
    background-color: inherit;
    color: black;
}
