.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storeContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    padding: 50px;
}

/*----------------- @media --------------*/
@media only screen and (max-width: 400px) {
    .storeContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        padding: 50px 30px;
    }
}