.container{
    width: 350px;
    background-color: whitesmoke;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.userImage {
    width: 80px;
    margin-top: -80px;
}

p{
    font-size: 15px;
    color: var(--gray-3);
    line-height: 20px;
}

span{
    font-size: 20px;
}