.worksContainer{
    margin: 100px 0;
}

.worksBoxImage{
    padding-top: 60px;
}

.listTab{
    font-size: 18px;
    --bs-nav-link-color: black;
    --bs-nav-tabs-link-active-color: var(--orange);
}

@media only screen and (max-width: 400px) {
    .worksContainer{
        margin: 50px 0;
    }

    .worksBoxImage{
        padding: 60px;
    }

    .listTab{
        font-size: 6px;
    }
}