*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root{
  --green:#8FBC32;
  --gray:#EEEEEF;
  --blue : #1961AC;
  --black-mate: #4d4d4d;
  --gray-header:#ABACAD;
  --background-blue : #1E62A9;
  --orange : #FEB300;
  --gray-2: #8d8d8d;
  --gray-3:#727272 ;
  --gray-4: #a4a4a4;
  --black-1:#202020;
  --black-2:#282828;
  --background-gray:#F8F9FA ;
  --background-white-gray:#ECF0F3 ;
}

/*-------------------Header - Navbar---------------*/
